header {
	background-color: #FF5A8F ;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;

}

h2 {
	background-color: #FF0020 ;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 35px

}
	#slogan {font-style: italic;
		font-family: 'Montserrat', sans-serif; 

	}

h3 {
	font-family: 'Raleway', sans-serif;
}

h4, p, ul, footer {
	font-family: 'Roboto', sans-serif;
}
