body {
	background-color: #ECECFF;
}

header, h1 {
	background-color: #FF5A8F ;
	text-align: center;
	font-size: 2em;
	padding: 5px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	font-family: 'Raleway', sans-serif;
	margin: 1em auto;
}

h2 {
	background-color: #FF0020 ;
	text-align: center;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 2em

}
	#slogan {font-style: italic;
		font-family: 'Montserrat', sans-serif; 
	}

h3 {
	font-family: 'Raleway', sans-serif;
	margin: 2em auto;
	padding: 0 1em;
}

p {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 2em auto;
	padding: 0 1em;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	padding-left: 1em;
}

#left {
    padding: 15px;
    float: left;
    width: 28%;
}

#right {
    padding: 15px;
    float: right;   
    width: 62%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

nav {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 1em;
}

nav a {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: ;
}

image {
	image-rendering: 100%;
}

footer {
	text-align: center;
	font-family: 'Roboto', sans-serif;
  	border-top: 1px solid black;
 	padding: 1em 0
}