header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}


nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}


aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}


article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}


footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}


div {
	 background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}


h1 {

	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin: 2em auto;
}

h2 {
	background-color:  ;
	text-align: center;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black; 
	font-size: 35px

}
	#slogan {font-style: italic;
		font-family: 'Montserrat', sans-serif; 

	}

h3 {
	font-family: 'Raleway', sans-serif;
	width: 1200px;
	text-align: center;
	margin: 2em auto;
}

p {
	font-family: 'Roboto', sans-serif;
	width: 1200px;
	text-align: center;
	margin: 2em auto;
}

h4, {
	font-family: 'Roboto', sans-serif;
}

nav {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

nav a {
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	text-align: center;
	font-family: 'Roboto', sans-serif;
  	border-top: 1px solid black;
 	padding: 1em 0
}